<!doctype html>
<html>

<head>
  <link href="styles/main.css" rel="stylesheet">
</head>

<body>
  <h1>Cryptowerk Chrome Extension</h1>
  <h1>Options are not yet implements. Keys are hardcoded.</h1>
  <div class="item" ng-hide="editing" ng-click="onEdit();">
    <span style="color: #aaaaaa" ng-show="!option">API-Key</span> from Cryptowerk.com
  </div>
  <div class="item item-input-inset" ng-show="editing" ng-submit="editing = false">
    <label class="item-input-wrapper">
      <input type="text" placeholder="abc..xyz" ng-model="editableOption" submit-on-enter="onSave()">
    </label>
    <a class="button button-small" ng-click="onCancel();">Cancel</a>
    <a class="button button-small button-positive submit-action" ng-click="onSave();">Save</a>
  </div>
  <div class="item" ng-hide="editing" ng-click="onEdit();">
    <span style="color: #aaaaaa" ng-show="!option">API_Creds</span>go here
  </div>
  <div class="item item-input-inset" ng-show="editing" ng-submit="editing = false">
    <label class="item-input-wrapper">
      <input type="text" placeholder="{{placeholder}}" ng-model="editableOption" submit-on-enter="onSave()">
    </label>
    <a class="button button-small" ng-click="onCancel();">Cancel</a>
    <a class="button button-small button-positive submit-action" ng-click="onSave();">Save</a>
  </div>
</body>
<script src="scripts/options.js"></script>

</html>